
/* Font */

.Banner-font-h{
       font-family: "Azeret Mono", monospace;
       font-optical-sizing: auto;
       font-weight: <weight>;
       font-style: normal; }


/*Frame*/
.Frame{ text-align: center; margin: 221px 221px 131px;}

#Frame{
       display: flex;
       justify-content: center;
       }  
       
       /* Header-Bg-Img */

.Banner{ background-image: url(Hero-bg.png);
       padding: 150px 60px;margin: 0px;
       font-size: 20px;
       font-family: ;} 

 #text-al{  position: static;
            justify-content: flex-start;
             align-items: center;
             border: 221px 142px;}


  /* BTN-Styles */

.btn-primary{
       background-color: rgb(8, 8, 8);
       font-weight: bold;
       font-size: 20px;
       color: white;
       padding: 18px 25px;
       border-radius: 5px;
       border: none;
       letter-spacing: 0%;
       
}
 
.btn{  padding: 12px 20px; background: none;
       box-sizing: border-box;
       border: 1px solid rgb(13, 19, 33);
       opacity: 0.7;}
       
.banner-title{ font-size: 43px;}

.banner-discrition{ font-size: 14px; opacity: 0.7;
                    letter-spacing: 0%;
                     font-weight: 400px;
                      line-height: 18px;
                       margin: 24px 0px;
                       flex-direction: column;}


                    /* Main-Header */
   .KL{
             text-align: center;padding: 10px; 
              background-color: white;
               margin: 97px ;
               border-radius: 15px; }
main div h1{
           font-size: 35px;
           letter-spacing: 0%;}

 main div p{ font-size: 14px;
              opacity: .7;}
 
             .Section-1{
                     display:flex; align-items:flex-start;
                     justify-content: space-around;
                     margin: 48px ;
                     padding: 48px;
                     background-color: rgb(255, 255, 255);
                     border-radius: 15px;}

  .section-01{
             flex-direction: column;}


   #Section-2{  display:flex; 
       justify-content: flex-start;
         margin: 48px;
          padding: 48px;
          background-color: rgb(255, 255, 255);
          border-radius: 15px;}

   .Color{ 
             
       border-radius: 16px;

        background: rgba(13, 19, 33, 0.02); padding: 80px 97px 80px 97px;
          border: 16px,; margin: 148px;}

   /* Qns Styles */

    .Qun-styles{ font-size: 24px; 
       color: rgba(13, 19, 33, 0.7)

    }
    iframe{
            size: 200px;
    }

    .Colors{ 
             
      border: 
             
       
       
          ;margin: 148px 152px 88px `149px,;}

        .KL-1 { text-align: center; }
          
        .KL-2{ background-color: rgb(255, 255, 255);  padding: 0px; margin: 220px ; margin-bottom: 10px; margin-top: 10px;
              

                
        } 
        
        .Inspiration{
                 font-size: 32px;
        }
         
        .Ans{ font: 16px; opacity: 0.7;
               
        }

       .video{
               align-self:;
               margin: 10px 0px;
               flex:none ;
               border-radius: 15px;
               
               
               
               
       }
       /* Support */
       .Support-bg{
                   background-image: url(handshake.jpg);
       }

       .Target{  margin: 150px 149px;

               
       }
          
     .Code{
            display: flex;
            flex-direction: row;
            

     }

      .goal{
            text-align: center;
             
             margin-bottom: 40px;
      }
       
      .html{ padding: 40px;
       border-radius: 16px;
       background: rgba(255, 76, 30, 0.05);
       margin: 0px 24px;

      }
      .css{ padding: 40px;
       border-radius: 16px;

       background: rgba(0, 76, 232, 0.05);
       margin: 

      }
      .js{ padding: 40px;
       border-radius: 16px;

       background: rgba(255, 223, 0, 0.05);
       margin: 0px 24px;

      }
        .Current{ font-size: 32px;

        }
    /* Code Font */

      .html-f { font-size: 24px;
           
      }
      .css-f{ font-size: 24px;

      }
      .js-f{ font-size: 24px;

      }
       .html-p{
                font-size: 12px;
       }
       .css-p{
               font-size: 12px;
       }
        .js-p{
               font-size: 12px;
        }
        .link{
               color: black;
               font-size: 16px;
               font-weight: bold;
        }
          /*Support-S*/
           .img{
               background-image: url(handshake.jpg); border-radius: 20px;
                max-width: 50%
                height: 100%;
               
               
               
           }

          .Support-S{
                  
                  margin: 150px 150px 80px 179px;
          }
       .CH{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 48px 48px 64px;
       }
      .input-1{
             display: flex;
      }
       .input-01{
              margin: 0px 16px;
              padding: 20px 150px ;
              box-sizing: border-box;
                border: none;
              border-radius: 8px;

              background: rgb(255, 255, 255);
              justify-content: flex-start;
               
       }
       .input-02{
              border-radius: 8px;

              background: rgb(255, 255, 255);
              flex: none;
              order: 1;
              flex-grow: 0;
              margin: 0px 16px;
              padding: 17px 60px 17px 20px;
              font-size: 20px;
              font-weight: bold;
              align-items: center;
              border: none;

       }

     